@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Ibarra Real Nova;
}

p, a {
    font-family: Roboto;
    font-style: normal;
}

img {
  max-width: 100%;
}

.link {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    color: black;
    text-decoration: none;
}

.main-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 135px;
}

.wrapper {
    /* display: flex; */
    /*flex-direction: column;*/
    /* justify-content: space-between; */
    /* min-width: 0; */
}

.text-wrapper {
    max-width: 274px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #34393E;
}


.h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 54px;
    color: #000000;
}

.h4 {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    line-height: 44px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.arrow {
    background-image: url("../assets/sell-main/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0.3em;
    padding-right: 1.5em;
}

.arrow-white {
    background-image: url("../assets/sell-main/arrow-white.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0.3em;
    padding-right: 1.5em;
}

.i-container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 375px;
  margin: auto;
}
@media(min-width: 768px) {
  .i-container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 768px;
  }
}
@media(min-width: 1440px) {
  .i-container {
    padding-left: 135px;
    padding-right: 40px;
    max-width: 1440px;
  }
}

/*SECTION 1 */
.b1 {
    padding-top: 50px;
}
@media(min-width: 1440px) {
  .b1 {
    padding-top: 147px;
  }
}

.b1 .i-container {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}

.b1__label {
    font-family: Ibarra Real Nova;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 10px;
    color: #7D8793;
}
@media(min-width: 768px) {
  .b1__label {
    font-size: 40px;
  }
}

.b1__label span {
  display: inline-block;
  margin-left: 7px;
}
@media(min-width: 1440px) {
  .b1__label span {
    margin-left: 14px;
  }
}

.b1__title {
  font-size: 64px;
  line-height: 1;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  color: #000000;
  opacity: 0.9;

}
@media (min-width: 768px) {
  .b1__title {
    font-size: 134px;
  }
}
@media (min-width: 1440px) {
  .b1__title {
    max-width: 720px;
    margin-left: 120px;
  }
}

.b1__title_row_1 {
  margin-top: 24px;
}
@media(min-width: 768px) {
  .b1__title_row_1 {
    margin-top: 10px;
  }
}
@media(min-width: 1440px) {
  .b1__title_row_1 {
    margin-top: 60px;
  }
}

.b1__title_row_2 {
  margin-top: 11px;
  text-align: right;
}
@media(min-width: 768px) {
  .b1__title_row_2 {
    margin-top: 2px;
  }
}

.b1__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    text-align: right;
    color: #A2A9B2;
    text-transform: uppercase;
}
@media(min-width: 768px) {
  .b1__subtitle {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
}
@media(min-width: 1440px) {
  .b1__subtitle {
    margin-top: 3px;
    position: relative;
    left: -48px;
  }
}

.b1__subtitle p {
  margin: 0;
}

@media(max-width: 1440px) {
  .b1__img-1 {
    text-align: center;
    margin-top: 20px;
  }
  .b1__img-1 img {
    max-width: 286px;
  }
}
@media(min-width: 768px) {
  .b1__img-1 {
    margin-top: 60px;
    margin-left: -78px;
  }
  .b1__img-1 img {
    max-width: 406px;
  }
}
@media(min-width: 1440px) {
  .b1__img-1 {
    position: absolute;
    margin: 0;
    top: -18px;
    right: 40px;
  }
  .b1__img-1 img {
    max-width: unset;
  }
}

.b1__img-2 {
  display: none;
}
@media(min-width: 1440px) {
  .b1__img-2 {
    display: block;
    position: relative;
    top: -53px;
    left: 5px;
  }
}

.b1__more-wrap {
  text-align: right;
}
@media(min-width: 768px) {
  .b1__more-wrap {
    margin-top: 30px;
  }
}
@media(min-width: 1440px) {
  .b1__more-wrap {
    position: absolute;
    bottom: 204px;
    right: 151px;
  }
}

.b1__more-link {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    color: #34393E;
    text-decoration: none;
}

/*
 * b2
 */

.b2 {
  margin-top: 180px;
  padding-bottom: 140px;
}
  @media(min-width: 768px) {
    .b2 {
    }
  }
  @media(min-width: 1440px) {
    .b2 {
      margin-top: 0px;
    }
  }



/*SECTION PRICING*/
.pricing {
    background-image: url("../assets/sell-main/background-pricing.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.priceing__inner {
  padding-top: 100px;
  padding-bottom: 140px;
}
@media(min-width: 1440px) {
  .priceing__inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

.pricing__title {
    font-style: italic;
    font-weight: 400;
    font-size: 55px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}
@media(min-width: 768px) {
  .pricing__title {
      font-size: 82px;
      letter-spacing: 3px;
  }
}

.pricing-p {
    font-weight: 450;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.44;
}

.pricing-block-text {
}
@media(min-width: 1440px) {
  .pricing-block-text {
      display: flex;
      flex-direction: column;
      width: 533px;
  }
}

.pricing-block-wrapper {
    display: flex;
    flex-direction: column;
}

.indiv {
    background: url("../assets/sell-main/rectangle-individ.png") center center no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    border-radius: 10px;
    border: 4px solid #fff;
}

.prof {
    background: #FFFFFF;
    opacity: 0.89;
    box-shadow: 0 4px 94px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.pricing-block {
    display: flex;
    max-width: 467px;
    height: 188px;
    justify-content: space-evenly;
}
@media(min-width: 1440px) {
  .pricing-block {
      width: 467px;
  }
}

.pricing-h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 1px;
}

.pricing-h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: 1px;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.text-sold {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 0.1em;
}

.price-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

/*SECTION INTRODUCTION */
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 121px 135px;
}

.red {
    color: #FF1B43;
    font-style: italic;
}


/*SECTION FAQ */
.faq {
    background-image: url("../assets/sell-main/plastic-bag-texture-background-plastic-film-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 82px;
    padding-bottom: 115px;
}
  @media(min-width: 1440px) {
    .faq {
      padding-top: 115px;
      padding-bottom: 95px;
    }
  }

.faq__inner {
}
  @media(min-width: 1440px) {
    .faq__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.faq__item {
}
.faq__item_2 {
  margin-top: 39px;
}
  @media(min-width: 1440px) {
    .faq__item_2 {
      margin-top: 0px;
    }
  }

.faq__item p {
  margin-bottom: 26px;
}

.faq__title {
    margin: 0 0 7px 0;
    padding: 0.3em 0 0.3em 0;
    font-style: italic;
    font-weight: 500;
    font-size: 52px;
    line-height: 54px;
    color: #000000;
}
  @media(min-width: 768px) {
    .faq__title {
      font-size: 82px;
    }
  }
  @media(min-width: 1440px) {
    .faq__title {
    }
  }


/*
 * FOOTER
 */
.f-line {
  height: 4px;
  background-image: url("../assets/sell-main/frame-21.png");
  background-repeat: repeat-x;
}

.footer {
    padding-top: 47px;
    padding-bottom: 90px;
    background-color: black;
}
  @media(min-width: 768px) {
    .footer {
        padding-top: 28px;
        padding-bottom: 24px;
    }
  }

.f-inner {
}
  @media(min-width: 1440px) {
    .f-inner {
      display: flex;
    }
    .f-item {
      width: 50%;
    }
  }

.footer-h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 2px;
    color: white;
    margin: 0;
}

.footer-p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.6;
}

.form {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
}
@media(min-width: 1440px) {
  .form {
    margin-top: 25px;
    margin-left: auto;
    width: 556px;
    flex-direction: row;
  }
}

.input {
    width: 100%;
    max-width: 492px;
    height: 48px;
    padding-left: 17px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}
@media(min-width: 1440px) {
  .input {
    margin-right: 12px;
    max-width: 360px;
  }
}


.input::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #7D8793;
}

.input:-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #7D8793;
    padding-left: 10px;
}


.input::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #7D8793;
    padding-left: 10px;
}

.input:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #7D8793;
    padding-left: 10px;
}

.btn {
  width: 100%;
  height: 48px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border-style: none;
}
@media(min-width: 768px) {
  .btn {
      max-width: 180px;
  }
}
@media(min-width: 1440px) {
  .btn {
    margin-top: 0;
  }
}

@media (max-width: 1300px) {
    .group-right {
        display: none;
    }

    .block-link {
        left: 373px;
        top: 600px;
    }
}

@media (max-width: 768px) {
    .main-wrapper {
        position: static;
        padding: 0 40px;
    }

    .block {
        height: 1250px;
    }

    h3 {
        margin-top: 0;
    }

    .group-left {
        display: none;
    }

    .group-right {
        display: flex;
        top: 164px;
        left: 122px;
    }

    .ahasha {
        top: 760px;
        left: 0;
    }

    .seller {
        top: 894px;
        left: 114px;
    }

    .block-first-text {
        top: 990px;
        left: 154px;
    }

    .block-link {
        top: 1071px;
        left: 536px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 140px 40px;
    }

    .faq-wrapper {
        flex-direction: column;
    }


}

@media (max-width: 375px) {
    .h3 {
        font-size: 30px;
    }

    .main-wrapper {
        position: static;
        padding: 0 16px;
    }

    .block {
        height: 940px;
    }

    .group-left {
        display: none;
    }

    .group-right {
        display: flex;
        top: 128px;
        left: 44px;
    }

    img {
        width: 286px;
    }

    .ahasha {
        top: 528px;
        left: 0;
    }

    .seller {
        top: 600px;
        left: 81px;
    }

    .block-first-text {
        top: 652px;
        left: 97px;
        font-size: 12px;
    }

    .block-link {
        top: 732px;
        left: 165px;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px 16px;
    }

    .mobile-block {
        display: inline-block;
    }

    .pricing-block-text {
        width: auto;
    }

    .pricing-h3 {
        font-size: 40px;
    }

    .text-sold {
        font-size: 12px
    }

    .indiv {
        width: 342px;
    }

    .prof {
        width: 342px;
    }

    .pricing-p {
        font-size: 12px;
    }

    .form {
        padding-top: 10px;
    }

}

/*E-commers*/

/*SECTION TIPS */
.tips {
    /*background-image: url("../assets/e-commerce/texture.png");*/
    padding: 160px 0 0 184px;
    height: 800px;
}

.gradient {
    background-image: url("../assets/e-commerce/rectangle-3220.png");
    z-index: -100;
    position: absolute;
}

/*SECTION RULES */
.rules-h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 99px;
    color: #000000;
}

.rules-text-wrapper {
    width: 340px;
    margin-right: 80px;
}

.sing-up {
    margin-top: 30px;
}

/*SLIDER*/

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

.slick-slide {
    width: 274px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button {
    display: none;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0;
}

/*.slick-dots li{}*/
/*!* Активная точка *!*/
/*.slick-dots li.slick-active{}*/
/*!* Элемент точки *!*/
/*.slick-dots li button{}*/
